.main {
    background:url("../../image/tarh1\ \(1\).png") no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.orangediv {
    position: absolute;
    width: 892px;
    height: 421px;
    left: 0;
    top: 154px;
    background: #F5D36F;
    border: 1px solid #F4BB13;
    box-sizing: border-box;
}
.bluediv {
    position: absolute;
    width: 821px;
    height: 292px;
    right: 0;
    z-index: -1;
    top: 267px;
    background: rgba(208, 227, 245, 0.5);
    border: 1px solid #99C4EF;
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    line-height: 37px;
    font-size: 17px;
}