.backOrange {
    background: #ECC75B;
    box-shadow: 0px 4px 5px rgb(196 196 196 / 40%);
    border-radius: 10px;
    border: none;
    font-size: 17px;
    padding: 10px 26px;
    margin-left: 36px;
    cursor: pointer;

}
.backgray {
    text-align: center;
    font-size: 16px;
    background-color: #dfe9f3;
    border-radius: 10px 0px;
    border: none;
    padding: 10px;
    min-width: 160px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}